.version.index /* version checker */
{
	color: #0000EA;
	background-color: #C387B1;
}

#page
{
	z-index: 1;
	min-height: 301.8008361345893px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 109px;
	padding-bottom: 89.1991638654107px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u94
{
	z-index: 2;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	width: 68.55%;
	margin-left: 15.73%;
	left: 0px;
        top:30px;
}

#u95
{
	z-index: 3;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
	margin-left: 0%;
	left: 0px;
}

#u96
{
	z-index: 4;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
	margin-left: 0%;
	left: 0px;
}

#u98
{
	z-index: 5;
	height: 301px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #4C5760;
	opacity: 0.46;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=46)";
	filter: alpha(opacity=46);
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 100%;
	margin-left: 0%;
	left: 0px;
}

#u97
{
	z-index: 6;
	height: 29px;
	border-style: solid;
	border-width: 1px;
	border-color: #414D57;
	background-color: #263643;
	position: relative;
	margin-right: -10000px;
	width: 99.7%;
	margin-left: 0.16%;
	left: -1px;
}

#u99-4
{
	z-index: 7;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 42.56%;
	margin-left: 28.73%;
	left: -189px;
}

#u100
{
	z-index: 11;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	width: 46.97%;
	margin-left: 26.52%;
	left: -164px;
}

#u102
{
	z-index: 12;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
	margin-left: 0%;
	left: 0px;
}

#u103
{
	z-index: 13;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
	margin-left: 0%;
	left: 0px;
}

#u104
{
	z-index: 14;
	background-color: transparent;
	padding-bottom: 178px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
	margin-left: 0%;
	left: 0px;
}

#u106
{
	z-index: 15;
	border-style: solid;
	border-width: 1px;
	border-color: #414D57;
	background-color: #263643;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	width: 99.36%;
	margin-left: 0.33%;
	left: -1px;
}

#u105-4
{
	z-index: 16;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	width: 76.88%;
	margin-left: 11.57%;
	left: -37px;
}

#u110-4
{
	z-index: 20;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	width: 64.73%;
	margin-left: 17.64%;
	left: -18px;
}

#u107-4
{
	z-index: 24;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 109px;
	width: 64.73%;
	margin-left: 17.64%;
	left: -18px;
}

#u108-4
{
	z-index: 28;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 134px;
	width: 64.73%;
	margin-left: 17.64%;
	left: -19px;
}

#u109-4
{
	z-index: 32;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	width: 76.38%;
	margin-left: 11.82%;
	left: 0px;
}

#u101-4
{
	z-index: 36;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	width: 65.05%;
	margin-left: 17.48%;
	left: -17px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

