.version.addfacility /* version checker */
{
	color: #0000FB;
	background-color: #43ED59;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 599px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	width: 100%;
	max-width: 1480px;
	margin-left: auto;
	margin-right: auto;
}

#pu1880
{
	padding-bottom: 515px;
	margin-right: -10000px;
	margin-top: 1px;
	width: 100%;
}

#u1880
{
	z-index: 52;
	height: 62px;
	position: fixed;
	top: 1px;
}

#u1880-bw
{
	z-index: 52;
}

#u1883
{
	z-index: 53;
	position: fixed;
	top: 5px;
	left: 0px;
	width: 6.49%;
	max-width: 96px;
}

#u1885
{
	z-index: 55;
	height: 62px;
	position: fixed;
	top: 63px;
}

#u1885-bw
{
	z-index: 55;
}

#u1929-4
{
	z-index: 80;
	position: fixed;
	top: 24px;
	left: 97px;
	width: 9.26%;
	max-width: 137px;
}

#u1930-4
{
	z-index: 84;
	position: fixed;
	top: 24px;
	left: 255px;
	width: 3.92%;
	max-width: 58px;
}

#u1931-4
{
	z-index: 88;
	position: fixed;
	top: 24px;
	left: 334px;
	width: 4.26%;
	max-width: 63px;
}

#u3870
{
	z-index: 92;
	padding-bottom: 375px;
	position: fixed;
	top: 141px;
	left: 6px;
	width: 32.5%;
	max-width: 481px;
}

#u3885
{
	z-index: 93;
	height: 375px;
	position: fixed;
	top: 141px;
	left: 6px;
	width: 32.5%;
	max-width: 481px;
}

#buttonu3877
{
	z-index: 94;
	padding-bottom: 4px;
	position: fixed;
	top: 459px;
	left: 277px;
	width: 11.29%;
	max-width: 167px;
}

#buttonu3877:hover
{
	min-height: 0px;
	width: 11.29%;
	max-width: 167px;
	margin: 0px;
}

#buttonu3877.ButtonSelected
{
	min-height: 0px;
	width: 11.29%;
	max-width: 167px;
	margin: 0px;
}

#u3878-4
{
	z-index: 95;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 100%;
}

#u3872
{
	z-index: 99;
	padding-bottom: 34px;
	position: fixed;
	top: 141px;
	left: 6px;
	width: 32.37%;
	max-width: 479px;
}

#u3873-4
{
	z-index: 100;
	position: fixed;
	top: 147px;
	left: 17px;
	width: 21.22%;
	max-width: 314px;
}

#u3892
{
	z-index: 104;
	padding-bottom: 137px;
	position: fixed;
	top: 177px;
	left: 19px;
	width: 30.75%;
	max-width: 455px;
}

#pu3888-4
{
	position: fixed;
	top: 182px;
	left: 30px;
	width: 14.67%;
	max-width: 217px;
}

#pu3888-4_position_content
{
	margin-top: -182px;
	padding-bottom: 293px;
	width: 100%;
}

#u3888-4
{
	z-index: 105;
	position: fixed;
	top: 182px;
	left: 30px;
	width: 14.67%;
	max-width: 217px;
}

#pu3883-4
{
	padding-bottom: 17px;
	position: fixed;
	top: 205px;
	left: 82px;
	width: 11.15%;
	max-width: 165px;
}

#u3883-4
{
	z-index: 109;
	position: fixed;
	top: 205px;
	left: 82px;
	width: 4.46%;
	max-width: 66px;
}

#u3894-4
{
	z-index: 125;
	position: fixed;
	top: 205px;
	left: 181px;
	width: 4.46%;
	max-width: 66px;
}

#pu3875-4
{
	padding-bottom: 17px;
	position: fixed;
	top: 229px;
	left: 82px;
	width: 11.15%;
	max-width: 165px;
}

#u3875-4
{
	z-index: 113;
	position: fixed;
	top: 229px;
	left: 82px;
	width: 4.46%;
	max-width: 66px;
}

#u3891-4
{
	z-index: 129;
	position: fixed;
	top: 229px;
	left: 181px;
	width: 4.46%;
	max-width: 66px;
}

#pu3871-4
{
	padding-bottom: 17px;
	position: fixed;
	top: 253px;
	left: 82px;
	width: 11.15%;
	max-width: 165px;
}

#u3871-4
{
	z-index: 117;
	position: fixed;
	top: 253px;
	left: 82px;
	width: 4.46%;
	max-width: 66px;
}

#u3882-4
{
	z-index: 133;
	position: fixed;
	top: 253px;
	left: 181px;
	width: 4.46%;
	max-width: 66px;
}

#pu3887-4
{
	padding-bottom: 17px;
	position: fixed;
	top: 276px;
	left: 82px;
	width: 11.15%;
	max-width: 165px;
}

#u3887-4
{
	z-index: 121;
	position: fixed;
	top: 276px;
	left: 82px;
	width: 6.56%;
	max-width: 97px;
}

#u3890-4
{
	z-index: 137;
	position: fixed;
	top: 276px;
	left: 181px;
	width: 4.46%;
	max-width: 66px;
}

#u3876
{
	z-index: 141;
	height: 88px;
	position: fixed;
	top: 205px;
	left: 280px;
	width: 10.82%;
	max-width: 160px;
}

#u3880
{
	z-index: 142;
	padding-bottom: 137px;
	position: fixed;
	top: 314px;
	left: 19px;
	width: 30.75%;
	max-width: 455px;
}

#pu3884-4
{
	position: fixed;
	top: 319px;
	left: 30px;
	width: 14.67%;
	max-width: 217px;
}

#pu3884-4_position_content
{
	margin-top: -319px;
	padding-bottom: 431px;
	width: 100%;
}

#u3884-4
{
	z-index: 143;
	position: fixed;
	top: 319px;
	left: 30px;
	width: 14.67%;
	max-width: 217px;
}

#pu3879-4
{
	padding-bottom: 17px;
	position: fixed;
	top: 343px;
	left: 82px;
	width: 11.15%;
	max-width: 165px;
}

#u3879-4
{
	z-index: 147;
	position: fixed;
	top: 343px;
	left: 82px;
	width: 4.46%;
	max-width: 66px;
}

#u3893-4
{
	z-index: 163;
	position: fixed;
	top: 343px;
	left: 181px;
	width: 4.46%;
	max-width: 66px;
}

#pu3889-4
{
	padding-bottom: 17px;
	position: fixed;
	top: 367px;
	left: 82px;
	width: 11.15%;
	max-width: 165px;
}

#u3889-4
{
	z-index: 151;
	position: fixed;
	top: 367px;
	left: 82px;
	width: 4.46%;
	max-width: 66px;
}

#u3895-4
{
	z-index: 167;
	position: fixed;
	top: 367px;
	left: 181px;
	width: 4.46%;
	max-width: 66px;
}

#pu3881-4
{
	padding-bottom: 17px;
	position: fixed;
	top: 390px;
	left: 82px;
	width: 11.15%;
	max-width: 165px;
}

#u3881-4
{
	z-index: 155;
	position: fixed;
	top: 390px;
	left: 82px;
	width: 4.46%;
	max-width: 66px;
}

#u3896-4
{
	z-index: 171;
	position: fixed;
	top: 390px;
	left: 181px;
	width: 4.46%;
	max-width: 66px;
}

#pu3886-4
{
	padding-bottom: 17px;
	position: fixed;
	top: 414px;
	left: 82px;
	width: 11.15%;
	max-width: 165px;
}

#u3886-4
{
	z-index: 159;
	position: fixed;
	top: 414px;
	left: 82px;
	width: 6.56%;
	max-width: 97px;
}

#u3897-4
{
	z-index: 175;
	position: fixed;
	top: 414px;
	left: 181px;
	width: 4.46%;
	max-width: 66px;
}

#u3874
{
	z-index: 179;
	height: 88px;
	position: fixed;
	top: 343px;
	left: 280px;
	width: 10.82%;
	max-width: 160px;
}

#buttonu1886
{
	z-index: 180;
	position: fixed;
	top: 63px;
	left: 163px;
	width: 5.75%;
	max-width: 85px;
}

#buttonu1886:hover
{
	min-height: 0px;
	width: 5.75%;
	max-width: 85px;
	margin: 0px;
}

#u1889-4
{
	z-index: 181;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	width: 90.59%;
	left: 8.24%;
}

#u1887
{
	z-index: 185;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	width: 29.42%;
	left: 34.12%;
}

#buttonu1886:hover #u1887
{
	min-height: 0px;
	width: 29.42%;
	margin: 4px -10000px 0px 0%;
}

#buttonu1890
{
	z-index: 187;
	position: fixed;
	top: 63px;
	left: 244px;
	width: 5.75%;
	max-width: 85px;
}

#buttonu1886.ButtonSelected,#buttonu1890:hover
{
	min-height: 0px;
	width: 5.75%;
	max-width: 85px;
	margin: 0px;
}

#u1891-4
{
	z-index: 188;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	width: 89.42%;
	left: 8.24%;
}

#u1892
{
	z-index: 192;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	width: 29.42%;
	left: 36.48%;
}

#buttonu1886.ButtonSelected #u1887,#buttonu1890:hover #u1892
{
	min-height: 0px;
	width: 29.42%;
	margin: 4px -10000px 0px 0%;
}

#buttonu1902
{
	z-index: 194;
	position: fixed;
	top: 63px;
	left: 329px;
	width: 5.55%;
	max-width: 82px;
}

#buttonu1902:hover
{
	min-height: 0px;
	width: 5.55%;
	max-width: 82px;
	margin: 0px;
}

#u1903-4
{
	z-index: 195;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	width: 107.32%;
}

#u1904
{
	z-index: 199;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	width: 30.49%;
	left: 37.81%;
}

#buttonu1902:hover #u1904
{
	min-height: 0px;
	width: 30.49%;
	margin: 4px -10000px 0px 0%;
}

#buttonu1906
{
	z-index: 201;
	position: fixed;
	top: 63px;
	left: 411px;
	width: 5.55%;
	max-width: 82px;
}

#buttonu1902.ButtonSelected,#buttonu1906:hover
{
	min-height: 0px;
	width: 5.55%;
	max-width: 82px;
	margin: 0px;
}

#u1909-4
{
	z-index: 202;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	width: 107.32%;
}

#u1907
{
	z-index: 206;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	width: 30.49%;
	left: 37.81%;
}

#buttonu1902.ButtonSelected #u1904,#buttonu1906:hover #u1907
{
	min-height: 0px;
	width: 30.49%;
	margin: 4px -10000px 0px 0%;
}

#buttonu1910
{
	z-index: 208;
	position: fixed;
	top: 63px;
	left: 493px;
	width: 5.61%;
	max-width: 83px;
}

#buttonu1910:hover
{
	min-height: 0px;
	width: 5.61%;
	max-width: 83px;
	margin: 0px;
}

#buttonu1910.ButtonSelected
{
	min-height: 0px;
	width: 5.61%;
	max-width: 83px;
	margin: 0px;
}

#u1911-4
{
	z-index: 209;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	width: 106.03%;
}

#u1912
{
	z-index: 213;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	width: 30.13%;
	left: 37.35%;
}

#buttonu1910:hover #u1912
{
	min-height: 0px;
	width: 30.13%;
	margin: 4px -10000px 0px 0%;
}

#buttonu1910.ButtonSelected #u1912
{
	min-height: 0px;
	width: 30.13%;
	margin: 4px -10000px 0px 0%;
}

#buttonu1894
{
	z-index: 215;
	position: fixed;
	top: 63px;
	left: 81px;
	width: 5.55%;
	max-width: 82px;
}

#buttonu1906.ButtonSelected,#buttonu1894:hover
{
	min-height: 0px;
	width: 5.55%;
	max-width: 82px;
	margin: 0px;
}

#u1895-4
{
	z-index: 216;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	width: 92.69%;
	left: 8.54%;
}

#u1896
{
	z-index: 220;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	width: 30.49%;
	left: 37.81%;
}

#buttonu1906.ButtonSelected #u1907,#buttonu1894:hover #u1896
{
	min-height: 0px;
	width: 30.49%;
	margin: 4px -10000px 0px 0%;
}

#buttonu1894.ButtonSelected #u1896
{
	min-height: 0px;
	width: 30.49%;
	margin: 4px -10000px 0px 0%;
}

#buttonu1898
{
	z-index: 222;
	position: fixed;
	top: 63px;
	left: 0px;
	width: 5.75%;
	max-width: 85px;
}

#buttonu1890.ButtonSelected,#buttonu1898:hover
{
	min-height: 0px;
	width: 5.75%;
	max-width: 85px;
	margin: 0px;
}

#buttonu1898.ButtonSelected
{
	min-height: 0px;
	width: 5.75%;
	max-width: 85px;
	margin: 0px;
}

#u1899-4
{
	z-index: 223;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	width: 89.42%;
	left: 8.24%;
}

#u1900
{
	z-index: 227;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	width: 29.42%;
	left: 36.48%;
}

#buttonu1890.ButtonSelected #u1892,#buttonu1898:hover #u1900
{
	min-height: 0px;
	width: 29.42%;
	margin: 4px -10000px 0px 0%;
}

#buttonu1898.ButtonSelected #u1900
{
	min-height: 0px;
	width: 29.42%;
	margin: 4px -10000px 0px 0%;
}

#u4556
{
	z-index: 2;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 144px;
	width: 44.46%;
	margin-left: 27.78%;
	left: 82px;
}

#u4557
{
	z-index: 3;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
	margin-left: 0%;
	left: 0px;
}

#u4558
{
	z-index: 4;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
	margin-left: 0%;
	left: 0px;
}

#u4559
{
	z-index: 5;
	height: 301px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #424E58;
	opacity: 0.46;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=46)";
	filter: alpha(opacity=46);
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 100%;
	margin-left: 0%;
	left: 0px;
}

#u4560
{
	z-index: 6;
	height: 29px;
	border-style: solid;
	border-width: 1px;
	border-color: #414D57;
	background-color: #263643;
	position: relative;
	margin-right: -10000px;
	width: 99.7%;
	margin-left: 0.16%;
	left: -1px;
}

#u4561-4
{
	z-index: 7;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 42.56%;
	margin-left: 28.73%;
	left: -189px;
}

#u4570
{
	z-index: 11;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	width: 46.97%;
	margin-left: 26.52%;
	left: -164px;
}

#u4572
{
	z-index: 12;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
	margin-left: 0%;
	left: 0px;
}

#u4578
{
	z-index: 13;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
	margin-left: 0%;
	left: 0px;
}

#u4581
{
	z-index: 14;
	background-color: transparent;
	padding-bottom: 178px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
	margin-left: 0%;
	left: 0px;
}

#u4579
{
	z-index: 15;
	border-style: solid;
	border-width: 1px;
	border-color: #414D57;
	background-color: #263643;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	width: 99.36%;
	margin-left: 0.33%;
	left: -1px;
}

#u4580-4
{
	z-index: 16;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	width: 76.88%;
	margin-left: 11.57%;
	left: -37px;
}

#u4586-4
{
	z-index: 20;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	width: 64.73%;
	margin-left: 17.64%;
	left: -18px;
}

#u4584-4
{
	z-index: 24;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	width: 64.73%;
	margin-left: 17.64%;
	left: -18px;
}

#u4573-4
{
	z-index: 28;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 135px;
	width: 64.73%;
	margin-left: 17.64%;
	left: -19px;
}

#u4575-4
{
	z-index: 32;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	width: 76.38%;
	margin-left: 11.82%;
	left: 0px;
}

#u4571-4
{
	z-index: 36;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	width: 65.05%;
	margin-left: 17.48%;
	left: -17px;
}

#u4670
{
	z-index: 40;
	height: 137px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
	width: 18.45%;
	left: 57.44%;
}

#pbuttonu4675
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 363px;
	width: 11.29%;
	margin-left: 44.36%;
}

#buttonu4675
{
	z-index: 46;
	-pie-box-shadow: 4px 4px 8px #7F7F7F;
	box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
	border-width: 0px;
	background-color: #3F698A;
	padding-bottom: 6px;
	position: relative;
	width: 100%;
	margin-left: 0%;
	left: 299.5px;
}

#buttonu4675:hover
{
	background-color: #12456D;
	min-height: 0px;
	width: 100%;
	left: 299.5px;
	margin: 0px 0px 0px 0%;
}

#buttonu4675.ButtonSelected
{
	background-color: #3F698A;
	min-height: 0px;
	width: 100%;
	left: 299.5px;
	margin: 0px 0px 0px 0%;
}

#u4676-4
{
	z-index: 47;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 100%;
}

#buttonu4673
{
	z-index: 41;
	-pie-box-shadow: 4px 4px 8px #7F7F7F;
	box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
	border-width: 0px;
	background-color: #3F698A;
	padding-bottom: 6px;
	margin-top: 13px;
	position: relative;
	width: 100%;
	margin-left: 0%;
	left: 299.5px;
}

#buttonu4673:hover
{
	background-color: #12456D;
	min-height: 0px;
	width: 100%;
	left: 299.5px;
	margin: 13px 0px 0px 0%;
}

#buttonu4673.ButtonSelected
{
	background-color: #3F698A;
	min-height: 0px;
	width: 100%;
	left: 299.5px;
	margin: 13px 0px 0px 0%;
}

#u4674-4
{
	z-index: 42;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 100%;
}

#buttonu1918
{
	z-index: 63;
	padding-bottom: 11px;
	position: fixed;
	top: 0px;
	right: 281px;
	width: 8.86%;
	max-width: 131px;
}

#buttonu1918:hover
{
	min-height: 0px;
	width: 8.86%;
	max-width: 131px;
	margin: 0px;
}

#buttonu1918.ButtonSelected
{
	min-height: 0px;
	width: 8.86%;
	max-width: 131px;
	margin: 0px;
}

#u1919
{
	z-index: 68;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	width: 22.91%;
	left: 5.35%;
}

#buttonu1918:hover #u1919
{
	min-height: 0px;
	width: 22.91%;
	margin: 16px -10000px 0px 0%;
}

#buttonu1918.ButtonSelected #u1919
{
	min-height: 0px;
	width: 22.91%;
	margin: 16px -10000px 0px 0%;
}

#u1921-4
{
	z-index: 64;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	width: 67.18%;
	left: 32.83%;
}

#buttonu1922
{
	z-index: 70;
	padding-bottom: 11px;
	position: fixed;
	top: 0px;
	right: 138px;
	width: 9.13%;
	max-width: 135px;
}

#buttonu1922:hover
{
	min-height: 0px;
	width: 9.13%;
	max-width: 135px;
	margin: 0px;
}

#buttonu1922.ButtonSelected
{
	min-height: 0px;
	width: 9.13%;
	max-width: 135px;
	margin: 0px;
}

#u1924
{
	z-index: 75;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	width: 22.23%;
	left: 6.67%;
}

#buttonu1922:hover #u1924
{
	min-height: 0px;
	width: 22.23%;
	margin: 16px -10000px 0px 0%;
}

#buttonu1922.ButtonSelected #u1924
{
	min-height: 0px;
	width: 22.23%;
	margin: 16px -10000px 0px 0%;
}

#u1923-4
{
	z-index: 71;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	width: 65.19%;
	left: 28.89%;
}

#buttonu1914
{
	z-index: 56;
	padding-bottom: 0px;
	position: fixed;
	top: 63px;
	right: 41px;
	width: 11.15%;
	max-width: 165px;
}

#buttonu1914:hover
{
	min-height: 0px;
	width: 11.15%;
	max-width: 165px;
	margin: 0px;
}

#buttonu1914.ButtonSelected
{
	min-height: 0px;
	width: 11.15%;
	max-width: 165px;
	margin: 0px;
}

#buttonu1914_position_content
{
	margin-bottom: -6px;
	padding-top: 1px;
	width: 100%;
}

#u1916
{
	z-index: 61;
	position: relative;
	width: 18.19%;
	margin-left: 40.61%;
}

#buttonu1914:hover #u1916
{
	min-height: 0px;
	width: 18.19%;
	margin: 0px 0px 0px 40.60606060606061%;
}

#buttonu1914.ButtonSelected #u1916
{
	min-height: 0px;
	width: 18.19%;
	margin: 0px 0px 0px 40.60606060606061%;
}

#u1915-4
{
	z-index: 57;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
	width: 103.04%;
}

#buttonu1926
{
	z-index: 77;
	padding-bottom: 17px;
	position: fixed;
	top: 0px;
	right: 0px;
	width: 5.55%;
	max-width: 82px;
}

#buttonu1894.ButtonSelected,#buttonu1926:hover
{
	min-height: 0px;
	width: 5.55%;
	max-width: 82px;
	margin: 0px;
}

#buttonu1926.ButtonSelected
{
	min-height: 0px;
	width: 5.55%;
	max-width: 82px;
	margin: 0px;
}

#u1927
{
	z-index: 78;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	width: 36.59%;
	left: 31.71%;
}

#buttonu1926:hover #u1927
{
	min-height: 0px;
	width: 36.59%;
	margin: 16px -10000px 0px 0%;
}

#buttonu1926.ButtonSelected #u1927
{
	min-height: 0px;
	width: 36.59%;
	margin: 16px -10000px 0px 0%;
}

#u2064
{
	z-index: 51;
	height: 71px;
}

.js body
{
	visibility: visible;
}

.js body.initialized
{
	visibility: visible;
}

#u2064-bw
{
	z-index: 51;
	margin-top: 12px;
	height: 71px;
}

.html
{
	background-color: #394751;
}

body
{
	position: relative;
	min-width: 1480px;
}

.verticalspacer
{
	min-height: 1px;
}

#u1887_img,#u1892_img,#u1904_img,#u1907_img,#u1912_img,#u1896_img,#u1900_img,#u1919_img,#u1924_img,#u1916_img,#u1927_img
{
	width: 100%;
}

