.version.forgotpassword /* version checker */
{
	color: #0000FA;
	background-color: #B31AEE;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 753px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	width: 100%;
	max-width: 1480px;
	margin-left: auto;
	margin-right: auto;
}

#pu1145
{
	padding-bottom: 512px;
	margin-right: -10000px;
	width: 100%;
}

#u1145
{
	z-index: 2;
	height: 17px;
	background-color: #26567E;
	position: fixed;
	top: 0px;
}

#u1145-bw
{
	z-index: 2;
}

#u1147
{
	z-index: 4;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 59px;
	left: 83px;
	width: 11.49%;
	max-width: 170px;
}

#u2886
{
	z-index: 10;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 284px;
	left: 165px;
	width: 38.92%;
	max-width: 576px;
}

#u2886_position_content
{
	margin-top: -284px;
	padding-bottom: 512px;
	width: 100%;
}

#u1149-4
{
	z-index: 11;
	min-height: 39px;
	text-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	font-size: 30px;
	color: #2E3192;
	line-height: 36px;
	position: fixed;
	top: 284px;
	left: 165px;
	width: 23.86%;
	max-width: 353px;
}

#u1150-7
{
	z-index: 15;
	min-height: 174px;
	text-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	line-height: 32px;
	font-size: 18px;
	color: #FFFFFF;
	text-indent: 22px;
	position: fixed;
	top: 338px;
	left: 165px;
	width: 38.92%;
	max-width: 576px;
}

#pu1146
{
	padding-bottom: 1128px;
	width: 50%;
	margin: 17px -10000px -392px 740px;
}

#u1146
{
	z-index: 3;
	height: 1128px;
	opacity: 0.32;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=32)";
	filter: alpha(opacity=32);
	position: fixed;
	top: 17px;
	right: 0px;
	width: 50%;
	max-width: 740px;
	background: #14456B url("../resources/images/forgot.jpg") no-repeat left top;
	background-size: cover;
}

#u1151-4
{
	z-index: 6;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 284px;
	right: 200px;
	width: 28.18%;
	max-width: 417px;
}

#u1152-4
{
	z-index: 22;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 331px;
	right: 196px;
	width: 28.45%;
	max-width: 421px;
}

#buttonu1154
{
	z-index: 26;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: url("../resources/images/blank.gif");
	border-width: 0px;
	background-color: #275881;
	position: fixed;
	top: 478px;
	right: 287px;
	width: 16.69%;
	max-width: 247px;
}

#buttonu1154:hover
{
	background-color: #97A5B3;
	min-height: 0px;
	width: 16.69%;
	max-width: 247px;
	margin: 0px;
}

#buttonu1154.ButtonSelected
{
	background-color: #275881;
	min-height: 0px;
	width: 16.69%;
	max-width: 247px;
	margin: 0px;
}

#u1155
{
	z-index: 27;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 10.13%;
	left: 5.67%;
}

#buttonu1154:hover #u1155
{
	min-height: 0px;
	width: 10.13%;
	margin: 1px -10000px 0px 0%;
}

#buttonu1154.ButtonSelected #u1155
{
	min-height: 0px;
	width: 10.13%;
	margin: 1px -10000px 0px 0%;
}

#u1155_img
{
	width: 100%;
}

#u1157-4
{
	z-index: 29;
	min-height: 25px;
	background-color: transparent;
	line-height: 20px;
	font-size: 15px;
	text-align: center;
	color: #FFFFFF;
	font-family: Comic Sans, Comic Sans MS, cursive;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 66.81%;
	left: 27.54%;
}

#buttonu1154:hover #u1157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 66.81%;
	margin: 1px -10000px 0px 0%;
}

#buttonu1154.ButtonSelected #u1157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 66.81%;
	margin: 1px -10000px 0px 0%;
}

#u1159
{
	z-index: 33;
	height: 78px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #FFFFFF;
	position: fixed;
	top: 379px;
	right: 259px;
	width: 20.55%;
	max-width: 304px;
}

.html
{
	background-color: #94A7B5;
}

body
{
	position: relative;
	min-width: 1480px;
}


