.version.index /* version checker */
{
	color: #000015;
	background-color: #F48726;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 4302.95px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;/* should not cover content below */
}

#phome
{
	width: 0.01px;
	margin-left: -100px;
}

#home
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 548px;
}

#u243
{
	z-index: 85;
	height: 86px;
	background-color: #13456D;
}

.js body
{
	visibility: visible;
}

.js body.initialized
{
	visibility: visible;
}

#u243-bw
{
	z-index: 85;
	height: 86px;
}

#pu253
{
	width: 0.01px;
	padding-bottom: 71px;
	margin-left: -77px;
	margin-top: -79px;
}

#u253
{
	z-index: 86;
	width: 121px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: fixed;
	top: 7px;
	left: 23px;
}

#buttonu831
{
	z-index: 88;
	width: 34px;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../resources/images/blank.gif");
	border-width: 0px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: fixed;
	top: 16px;
	right: 36px;
	padding: 5px 5px 1.0500000000000114px;
}

#buttonu831:hover
{
	width: 34px;
	min-height: 0px;
	margin: 0px;
}

#u843
{
	z-index: 89;
	width: 32px;
	background-color: transparent;
	position: relative;
}

#buttonu831:hover #u843
{
	width: 32px;
	min-height: 0px;
	margin: 0px;
}

#buttonu831.ButtonSelected #u843
{
	width: 32px;
	min-height: 0px;
	margin: 0px;
}

#u845-4
{
	z-index: 91;
	width: 34px;
	min-height: 17px;
	background-color: transparent;
	font-size: 13px;
	color: #FFFFFF;
	line-height: 16px;
	margin-top: 7px;
	position: relative;
}

#buttonu831:hover #u845-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 34px;
	margin: 7px 0px 0px;
}

#buttonu831.ButtonSelected #u845-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 34px;
	margin: 7px 0px 0px;
}

.js #u253.ose_pre_init,.js #buttonu831.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u154
{
	z-index: 2;
	height: 480px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	background: transparent url("../resources/images/umnyj-dom.jpg") no-repeat center center;
	background-size: cover;
}

#u154-bw
{
	z-index: 2;
	height: 480px;
}

#u185
{
	z-index: 3;
	width: 320px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 130px;
	left: 452px;
}

#u185_position_content
{
	width: 100%;
}

#u165-8
{
	z-index: 4;
	display: block;
	vertical-align: top;
	position: relative;
}

#buttonu169
{
	z-index: 12;
	width: 230px;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: url("../resources/images/blank.gif");
	border-width: 0px;
	background-color: #92A6B7;
	margin-left: 45px;
	margin-top: 44px;
	position: relative;
}

#buttonu169:hover
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-color: #13456D;
	width: 230px;
	min-height: 0px;
	margin: 44px 0px 0px 45px;
}

#u182-4
{
	z-index: 13;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 19px;
}

#cameras
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 273px;
	left: 612px;
}

#u1301
{
	z-index: 96;
	height: 44px;
	width: 44px;
	vertical-align: top;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	position: fixed;
	top: 143px;
	right: 30px;
	background: url("../resources/images/u1301.png") no-repeat 6px 6px;
}

#u1301.MuseLinkActive
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background: url("../resources/images/u1301-a.png") no-repeat 0px 0px;
}

#u1308
{
	z-index: 99;
	height: 44px;
	width: 44px;
	vertical-align: top;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	position: fixed;
	top: 189px;
	right: 30px;
	background: url("../resources/images/u1308.png") no-repeat 6px 6px;
}

#u1308.MuseLinkActive
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background: url("../resources/images/u1308-a.png") no-repeat 0px 0px;
}

#u1318
{
	z-index: 102;
	height: 44px;
	width: 44px;
	vertical-align: top;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	position: fixed;
	top: 235px;
	right: 30px;
	background: url("../resources/images/u1318.png") no-repeat 6px 6px;
}

#u1318.MuseLinkActive
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background: url("../resources/images/u1318-a.png") no-repeat 0px 0px;
}

#u1328
{
	z-index: 105;
	height: 44px;
	width: 44px;
	vertical-align: top;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	position: fixed;
	top: 281px;
	right: 30px;
	background: url("../resources/images/u1328.png") no-repeat 6px 6px;
}

#u1328.MuseLinkActive
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background: url("../resources/images/u1328-a.png") no-repeat 0px 0px;
}

#u1338
{
	z-index: 108;
	height: 44px;
	width: 44px;
	vertical-align: top;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	position: fixed;
	top: 327px;
	right: 30px;
	background: url("../resources/images/u1338.png") no-repeat 6px 6px;
}

#u1338.MuseLinkActive
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background: url("../resources/images/u1338-a.png") no-repeat 0px 0px;
}

#u1348
{
	z-index: 111;
	height: 44px;
	width: 44px;
	vertical-align: top;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	position: fixed;
	top: 373px;
	right: 30px;
	background: url("../resources/images/u1348.png") no-repeat 6px 6px;
}

#u1348.MuseLinkActive
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background: url("../resources/images/u1348-a.png") no-repeat 0px 0px;
}

#u1358
{
	z-index: 114;
	height: 44px;
	width: 44px;
	vertical-align: top;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	position: fixed;
	top: 419px;
	right: 30px;
	background: url("../resources/images/u1358.png") no-repeat 6px 6px;
}

#u1358.MuseLinkActive
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background: url("../resources/images/u1358-a.png") no-repeat 0px 0px;
}

#u1368
{
	z-index: 117;
	height: 44px;
	width: 44px;
	vertical-align: top;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	position: fixed;
	top: 465px;
	right: 30px;
	background: url("../resources/images/u1368.png") no-repeat 6px 6px;
}

#u1368.MuseLinkActive
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background: url("../resources/images/u1368-a.png") no-repeat 0px 0px;
}

#u195
{
	z-index: 18;
	height: 480px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	background: #275881 url("../resources/images/cam-about-background.jpg") no-repeat center top;
	background-size: cover;
}

#u195-bw
{
	z-index: 18;
	height: 480px;
}

#u277
{
	z-index: 19;
	width: 320px;
	height: 195px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 294px;
}

#u274
{
	z-index: 20;
	width: 320px;
	height: 195px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 81px;
	left: 56px;
}

#u283-4
{
	z-index: 21;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 356px;
}

#u286-4
{
	z-index: 25;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 168px;
	left: 420px;
}

#u289-4
{
	z-index: 29;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 548px;
}

#counters
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 281px;
	left: 615px;
}

#u295
{
	z-index: 34;
	height: 480px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	background: #275881 url("../resources/images/banner_gas_and_water_meters.jpg") no-repeat right center;
	background-size: cover;
}

#u295-bw
{
	z-index: 34;
	height: 480px;
}

#u317-4
{
	z-index: 35;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
}

#u326
{
	z-index: 39;
	width: 512px;
	height: 224px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 148px;
	left: 684px;
}

#u329
{
	z-index: 40;
	width: 512px;
	height: 139px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 324px;
	left: 209px;
}

#sensors
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 231px;
	left: 612px;
}

#u335
{
	z-index: 41;
	height: 480px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	background: #275881 url("../resources/images/smoke.jpg") no-repeat left top;
	background-size: cover;
}

#u335-bw
{
	z-index: 41;
	height: 480px;
}

#u349
{
	z-index: 42;
	width: 318px;
	height: 115px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 50px;
}

#u355
{
	z-index: 43;
	width: 415px;
	height: 109px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 175px;
	left: 50px;
}

#u352
{
	z-index: 44;
	width: 353px;
	height: 345px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 819px;
}

#u358-4
{
	z-index: 45;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 297px;
	left: 175px;
}

#u361-4
{
	z-index: 49;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 403px;
	left: 338px;
}

#rcontrol
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 248px;
	left: 612px;
}

#u364
{
	z-index: 53;
	height: 480px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	background: #275881 url("../resources/images/smart_home.jpg") no-repeat center top;
	background-size: cover;
}

#u364-bw
{
	z-index: 53;
	height: 480px;
}

#u375
{
	z-index: 54;
	width: 260px;
	height: 156px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 548px;
}

#u378
{
	z-index: 55;
	width: 192px;
	height: 57px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 484px;
}

#u384-4
{
	z-index: 56;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 245px;
	left: 548px;
}

#health
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 253px;
	left: 612px;
}

#u387
{
	z-index: 60;
	height: 480px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	background: #275881 url("../resources/images/health4.jpg") no-repeat center center;
	background-size: cover;
}

#u387-bw
{
	z-index: 60;
	height: 480px;
}

#u423
{
	z-index: 61;
	width: 402px;
	height: 324px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 100px;
}

#u429-4
{
	z-index: 62;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 620px;
}

#gps
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 232px;
	left: 612px;
}

#pu154,#pu195,#pu295,#pu335,#pu364,#pu387,#pu432
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 32px;
}

#u432
{
	z-index: 66;
	height: 480px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	background: #275881 url("../resources/images/gps.jpg") no-repeat center center;
	background-size: cover;
}

#u432-bw
{
	z-index: 66;
	height: 480px;
}

#u443
{
	z-index: 67;
	width: 320px;
	height: 243px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 168px;
	left: 868px;
}

#u449-4
{
	z-index: 68;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 100px;
}

#actionmap
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 101px;
	left: 612px;
}

#pu452
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 35px;
}

#u452
{
	z-index: 72;
	height: 480px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	opacity: 0.76;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=76)";
	filter: alpha(opacity=76);
	background: #275881 url("../resources/images/map.jpg") no-repeat center center;
	background-size: cover;
}

#u452-bw
{
	z-index: 72;
	height: 480px;
}

#u463
{
	z-index: 73;
	width: 448px;
	height: 187px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 138px;
}

#u477-4
{
	z-index: 75;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 125px;
	left: 676px;
}

#u1388
{
	z-index: 120;
	height: 76px;
	width: 76px;
	vertical-align: top;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	position: fixed;
	bottom: 4px;
	right: 10px;
	background: url("../resources/images/u1388.png") no-repeat 6px 6px;
}

#u1388:hover
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background: url("../resources/images/u1388-r.png") no-repeat 0px 0px;
}

#u474
{
	z-index: 74;
	height: 83px;
	background-color: #26567E;
}

#u474-bw
{
	z-index: 74;
	margin-top: 35px;
	height: 83px;
}

.html
{
	background-color: #7F7F7F;
}

body
{
	position: relative;
	min-width: 1024px;
}

